{{#each posts}}
  <div class="post">
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <form action="/posts/{{this.id}}/comments" method="post">
      <textarea name="content"></textarea>
      <button type="submit">Comment</button>
    </form>
    <div class="comments">
      {{#each this.comments}}
        <p>{{this.content}}</p>
      {{/each}}
    </div>
  </div>
{{/each}}
<form action="/posts" method="post">
  <input type="text" name="title" placeholder="Title" />
  <textarea name="content" placeholder="Content"></textarea>
  <button type="submit">Post</button>
</form>